body {
    font-family: "Roboto Mono", monospace;
    background-image: url("./pexels-alesia-kozik-6765372.jpg") ;
    background-color: #fca234;
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: black;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: black;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: black;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: black;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #F0CB35 ;
    color: black;
  }
 
  h2 {
    color: #F1F2B5;
    font-size: 30px;
  }